@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white: #fafafa;
    --beige: #f6efe8;
    --black: #171616;
    --green: #8bb289;
    --blue: #376e7c;
    --nav-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --heading-font: 'Merriweather', serif;
}

.nav-font {
  font-family: var(--nav-font);
}

.heading-font {
  font-family: var(--heading-font);
}

.body-font {
  font-family: var(--body-font);
}

