<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reference</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include "_navbar.html" %}

     <div class="pt-20 px-14 max-w-screen mx-auto">
        <div class="mt-8 mb-6">
            <h1 class="heading-font text-3xl font-semibold text-gray-900">References</h1>
        </div>
    </div>

    <div class="pt-8 px-14 max-w-screen mx-auto">
        <div class="mt-8 mb-6">
            <h2 class="heading-font text-lg font-normal"><a href="https://1drv.ms/b/c/72cec2e34fdcb0f9/IQCaArjbvQsRTL7bgiwJSJAMAbAE_kFVmSsbEE7IdSC3d8A?e=USiNvA">Work Log Link</a></h2>
            <h2 class="heading-font text-lg font-normal"><a href="https://lwsd-my.sharepoint.com/:b:/g/personal/1060660_lwsd_org/IQALO_pD3ANzR6ISQAqyuBEfARTFeRKagwUca9_uHcaQB3Y?e=GhSdnO">Student Copyright Checklist Link</a></h2>
            <h2 class="heading-font text-2xl font-semibold text-gray-900">Resources</h2>
            <ul class="mt-4 space-y-2">
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:El_Centro_de_la_Raza_05.jpg">https://commons.wikimedia.org/wiki/File:El_Centro_de_la_Raza_05.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Duwamish_Longhouse_interior_02.jpg">https://commons.wikimedia.org/wiki/File:Duwamish_Longhouse_interior_02.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://upload.wikimedia.org/wikipedia/commons/2/23/Seattle_%E2%80%94_Daybreak_Star_Cultural_Center.jpg">https://upload.wikimedia.org/wikipedia/commons/2/23/Seattle_%E2%80%94_Daybreak_Star_Cultural_Center.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Seattle_-_Swedish_Club_01.jpg">https://commons.wikimedia.org/wiki/File:Seattle_-_Swedish_Club_01.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://www.flickr.com/photos/jpellgen/51451470252">https://www.flickr.com/photos/jpellgen/51451470252</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Seattle_Langston_03.jpg">https://commons.wikimedia.org/wiki/File:Seattle_Langston_03.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Seattle_Asian_Art_Museum.jpg">https://commons.wikimedia.org/wiki/File:Seattle_Asian_Art_Museum.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Seattle_Art_Museum_%282891587322%29.jpg">https://commons.wikimedia.org/wiki/File:Seattle_Art_Museum_%282891587322%29.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Seattle_in_May_2023_-_106.jpg">https://commons.wikimedia.org/wiki/File:Seattle_in_May_2023_-_106.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/assorted-paintings-on-white-painted-wall-3GZlhROZIQg">https://unsplash.com/photos/assorted-paintings-on-white-painted-wall-3GZlhROZIQg</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/white-wall-with-paintings-on-wall-Tjio9DgtIls">https://unsplash.com/photos/white-wall-with-paintings-on-wall-Tjio9DgtIls</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/traditional-japanese-building-with-autumn-trees-j48OQz_dVU8">https://unsplash.com/photos/traditional-japanese-building-with-autumn-trees-j48OQz_dVU8</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-table-topped-with-lots-of-blue-and-white-plates-Y0B-OAQai7g">https://unsplash.com/photos/a-table-topped-with-lots-of-blue-and-white-plates-Y0B-OAQai7g</a></li>
                <li class="body-font text-base font-light"><a href="https://www.flickr.com/photos/brewbooks/4529746893">https://www.flickr.com/photos/brewbooks/4529746893</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Bellevue_Botanical_Garden_24_-_Yao_Garden.jpg">https://commons.wikimedia.org/wiki/File:Bellevue_Botanical_Garden_24_-_Yao_Garden.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/yellow-flowers-on-the-garden-bY_q4VodUc0">https://unsplash.com/photos/yellow-flowers-on-the-garden-bY_q4VodUc0</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-garden-filled-with-lots-of-green-plants-L9AGUvQcNm8">https://unsplash.com/photos/a-garden-filled-with-lots-of-green-plants-L9AGUvQcNm8</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/happy-healthy-senior-couple-with-their-grandaughter-gardening-in-the-backyard-garden-aerial-view-x9w7cO7HCFY">https://unsplash.com/photos/happy-healthy-senior-couple-with-their-grandaughter-gardening-in-the-backyard-garden-aerial-view-x9w7cO7HCFY</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-grassy-area-with-trees-and-a-path-UMFTRaX6P40">https://unsplash.com/photos/a-grassy-area-with-trees-and-a-path-UMFTRaX6P40</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-group-of-small-school-children-with-teacher-on-field-trip-in-nature-learning-science-r21fXeZCXAA">https://unsplash.com/photos/a-group-of-small-school-children-with-teacher-on-field-trip-in-nature-learning-science-r21fXeZCXAA</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:LA_Fitness.JPG">https://commons.wikimedia.org/wiki/File:LA_Fitness.JPG</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/two-little-football-players-running-after-ball-while-exercising-on-pitch-with-cones-haIao7yU-e0">https://unsplash.com/photos/two-little-football-players-running-after-ball-while-exercising-on-pitch-with-cones-haIao7yU-e0</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/woman-standing-surrounded-by-exercise-equipment-CQfNt66ttZM">https://unsplash.com/photos/woman-standing-surrounded-by-exercise-equipment-CQfNt66ttZM</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.cMature athlete warming up for sports training and walking on treadmill in a gym. photoom/photos/people-in-a-room-with-a-black-table-and-chairs-fqMu99l8sqo">https://unsplash.cMature athlete warming up for sports training and walking on treadmill in a gym. photoom/photos/people-in-a-room-with-a-black-table-and-chairs-fqMu99l8sqo</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/black-spin-exercise-bike-lot-LOA2mTj1vhc">https://unsplash.com/photos/black-spin-exercise-bike-lot-LOA2mTj1vhc</a></li>
                <li class="body-font text-base font-light"><a href="https://commons.wikimedia.org/wiki/File:Indoor_Athletics_Centre_-_geograph.org.uk_-_337670.jpg">https://commons.wikimedia.org/wiki/File:Indoor_Athletics_Centre_-_geograph.org.uk_-_337670.jpg</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-group-of-people-standing-on-top-of-a-tennis-court-76nvtMtaBy0">https://unsplash.com/photos/a-group-of-people-standing-on-top-of-a-tennis-court-76nvtMtaBy0</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/basketball-court-surrounded-by-trees-pSr9S6po7Ps">https://unsplash.com/photos/basketball-court-surrounded-by-trees-pSr9S6po7Ps</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-tennis-court-with-a-net-in-the-middle-of-it-TsxNa3PuqCo">https://unsplash.com/photos/a-tennis-court-with-a-net-in-the-middle-of-it-TsxNa3PuqCo</a></li>
                <li class="body-font text-base font-light"><a href="https://pixabay.com/photos/tennis-court-dome-sports-athletes-926386/">https://pixabay.com/photos/tennis-court-dome-sports-athletes-926386/</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-baseball-field-with-a-batter-catcher-and-umpire-Vk_QZMmZyVQ">https://unsplash.com/photos/a-baseball-field-with-a-batter-catcher-and-umpire-Vk_QZMmZyVQ</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/basketball-court-during-daytime-zygvOSND4rI">https://unsplash.com/photos/basketball-court-during-daytime-zygvOSND4rI</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/a-basketball-court-with-a-basketball-hoop-in-the-middle-of-it-UDV-tIKQfMg">https://unsplash.com/photos/a-basketball-court-with-a-basketball-hoop-in-the-middle-of-it-UDV-tIKQfMg</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/indoor-swimming-pool-j4_gi5yHZxU">https://unsplash.com/photos/indoor-swimming-pool-j4_gi5yHZxU</a></li>
                <li class="body-font text-base font-light"><a href="https://unsplash.com/photos/an-indoor-swimming-pool-with-blue-water-xs9r8fPUats">https://unsplash.com/photos/an-indoor-swimming-pool-with-blue-water-xs9r8fPUats</a></li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/sitewide.js') }}"></script>

</body>
</html>