<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>

    <h1>Register</h1>
    <form> 
        <h3>Create Account</h3>
        <label for = 'email'>Username</label>
        <input type = 'email' placeholder = 'Email or Phone' id = 'email' required>
        <label for = 'password'>Password</label>
        <input type = 'password' placeholder = 'Password' id = 'password' required>
        <button id = 'submit' type = 'submit'>Submit</button>
        <button id = 'login' type = 'button'>Login</button>

    </form>
</body>
 <script type="module" src="{{ url_for('static', filename='auth.js') }}"></script>
 <script type="module" src="{{ url_for('static', filename='login.js') }}"></script>
</html>